#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --background-color: #1a1a1a;
  --border-color: rgba(255, 255, 255, 0.7);
  --hover-border-color: rgba(0, 0, 0, 0.5);
  --dropdown-bg-color: rgba(0, 0, 0, 0.2);
  --search-icon-color: gray;
  --input-text-color: rgba(255, 255, 255, 0.8);
  --item-hover-bg-color: rgba(0, 0, 0, 0.1);
  --item-hover-text-color: white;
  --visible-text-color: rgba(255, 255, 255, 0.7);
  --button-hover-bg-color: rgba(255, 255, 255, 0.6);
}
